-r requirements.txt

bumpversion==0.6.0
coverage==5.1
coveralls==2.0.0
tox==3.15.2

sphinx==3.1.1
sphinx_rtd_theme==0.5.0
watchdog==0.10.2
twine==3.1.1

black==19.3b0
isort==4.3.21
pytest==5.4.3
pytest-runner==5.2
pytest-cov==2.10.0
